$black-color: black;

.wrapper {
    display: flex;
}

.box {
    margin-left: 20px;
    height: 100px;
    width: 100px;
}

.blue {background-color: blue;}
.red {background-color: red;}
.green {background-color: green;}
