@import './global.scss';

.header {
    grid-column: 3 / 4;
    margin-top: 96px;
    margin-bottom: 160px;
    height: 60px;
    background-color: #f7f7f7;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3 / 4;
    align-self: center;
    margin-bottom: 160px;
}

.mission__h1 {
    text-align: center;
    margin-bottom: 32px;
    @include breakpoint(xl-screen){max-width: 1024px;}
    @include breakpoint(l-screen) {max-width: 768px;}
}

.mission__h4 {
    text-align: center;
    color: #828282;
    @include breakpoint(xl-screen){max-width: 896px;}
    @include breakpoint(l-screen) {max-width: 640px;}
}



.promo-video {
    grid-column: 2 / 5;
    height: 80vh;
    margin-bottom: 160px;
    background-color: #f7f7f7;
    position: relative;
}

.promo-video__img-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    background-image: url("../../assets/images/video-placeholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promo-video__embed {
    width: 100%;
    height: 100%;
}



