@import './global.scss';

// ==== HERO SECTION ============================================


.hero__header-container {
    @extend %mg-contained;
    margin-bottom: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 145px;
    height: 56px;
    // background-color: #df1212;
    background-image: url("../../assets/images/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header__contact-email {
    color: $color-light;
}

.hero__mission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 3 / 4;
    align-self: center;
    margin-bottom: 160px;
}

.mission__heading {
    text-align: center;
    margin-bottom: 32px;
    @include breakpoint(xl-screen){max-width: 1024px;}
    @include breakpoint(l-screen) {max-width: 768px;}
}

.mission__description {
    text-align: center;
    color: $color-darker;
    @include breakpoint(xl-screen){max-width: 896px;}
    @include breakpoint(l-screen) {max-width: 640px;}
}

.hero__promo-video {
    grid-column: 2 / 5;
    height: 80vh;
    background-color: #f7f7f7;
    position: relative;
}

.promo-video__img-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    background-image: url("../../assets/images/video-placeholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promo-video__embed {
    width: 100%;
    height: 100%;
}

// ==== SERVICES SECTION ============================================

.services-container {
    grid-column: 3 / 4;
    display: grid;
    max-width: 1024px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-row-gap: 128px;
    justify-self: center;
}

.service {
    &-container {
        width: 100%;
        display: grid;
        grid-template-columns: 96px 1fr;
        grid-column-gap: 32px;
    }

    &--leadership {grid-column: 2 / -1;}
    &--staffing {grid-column: 1 / 3;}
    &--design-systems {grid-column: 2 / -1;}
}

.sevice-icon {
    width: 100%;
    height: 96px;
    background-color: #828282;

    &--leadership {}
    &--staffing {}
    &--design-systems{}
}

.service-title {
    margin-bottom: 16px; 
}

.service-description {
    color: $color-darker;
}


// ==== CLIENTS SECTION =======================================

.clients__section-heading-container {
    @extend %mg-contained;
    justify-self: center;
}

.clients__section-title {
    text-align: center;
    margin-bottom: 24px;
}

.clients__section-headline {
    text-align: center;
}

.clients__testimonials-container {
    @extend %mg-contained;
    justify-self: center;
    max-width: 1024px;
    margin-top: 96px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 32px;
    row-gap: 96px;
}

.client-info {
    grid-column: 1 / 2;
}

.client-name {
    margin-bottom: 8px;
}

.client-position {
    color: $color-dark;
}

.client-testimonial {
    grid-column: 2 / 3;
}

.clients__logos-container {
    margin-top: 96px;
    grid-column: 3 / 4;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.client-logo{
    height: 56px;
    max-width: 256px;
    margin: 28px;
}

// ==== TEAM SSECTION ==============================

.team__section-title {
    @extend %mg-contained;
    align-self: center;
    text-align: center;
    margin-bottom: 64px;
}

.team__members-container {
    @extend %mg-contained;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 64px;
}

.member-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.member__photo {
    width: 100%;
    margin-bottom: 24px;
}

.member-name {
    text-align: center;
    margin-bottom: 4px;
}

.member-title {
    text-align: center;
    color: $color-dark;
}